# Battle of the Neighborhoods

### This notebook contains the final capstone project for the IBM Data Science Specialization on Coursera

In [35]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [36]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

## Web scraping with Beautiful soup

In [37]:
req = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(req,'lxml')
table = soup.find('table')
row = table.find_all('tr')

Now that we have the relevent data separated. Let\'s build the dataframe

## Dataframe Creation

In [38]:
# first we create the column headers
df = pd.DataFrame(columns=row[0].text.split())

# then we iterate over the row data to file out each row
for j in range(1,len(row)):
    df.loc[j-1]=list(map(lambda x:x.text, row[j].find_all('td')))
df['Neighbourhood'] = df['Neighbourhood'].apply(lambda x: x[:len(x)-1])

In [39]:
df[20:27] #sample table

   Postcode       Borough     Neighbourhood
20      M7B  Not assigned      Not assigned
21      M8B  Not assigned      Not assigned
22      M9B     Etobicoke        Cloverdale
23      M9B     Etobicoke         Islington
24      M9B     Etobicoke      Martin Grove
25      M9B     Etobicoke  Princess Gardens
26      M9B     Etobicoke   West Deane Park

now that we have created the dataframe, its time to clean the dataframe and get rid of and the "Not Assigned entries"

## Dataframe Cleaning

first we remove all the entries whose Borough value is not given

In [40]:
df = df[df['Borough']!='Not assigned']

In [41]:
#now we reset the index
df.reset_index(inplace=True)
df = df.drop(['index'], axis=1)
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [53]:
# we replace all Not assigned Neighbourhoods with their respective borough names
for j in range(df.shape[0]):
    if df['Neighbourhood'].loc[j]=='Not assigned':
        df['Neighbourhood'].loc[j]=df['Borough'].loc[j]

In [54]:
df.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Queen's Park
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

In [52]:
df.shape

(211, 3)